/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    background-color: #e8f3f1;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d0edbc;
    color: rgb(96, 93, 93);
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

form {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#r {
    margin: 20px;
}
